.b {
    background-image: url(images/black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sci {
    background-image: url(images/sci.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.col-md-2 {
    align-items: center;
}

h3 {
    color: aliceblue;
    border-right: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: aliceblue;
}

a:hover {
    color: yellow;
}

.home {
    background-image: url(images/home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image_container img {
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 320;
    margin-top: 40px;
}

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: #191a7a
}

.top_section h4 {
    font-size: 30px;
    text-align: end;
}

.about_section h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    color: darkblue;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
}

.about_section p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    text-align: justify;
}

.f {
    margin-top: 10px;
}

.col-md-4,
{
height: 285px;
}

.col-md-3 {
    height: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-md-4 img {
    width: 523px;
    height: 285px;
}

.col-md-3 img {
    width: 280px;
    height: 280px;
}

.pp {
    margin-left: 200px;
    margin-right: 240px;
}

.p {
    background-image: url(images/productsback.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}